.root {
    grid-column: 2 / span 6;
    grid-row: 2;
    margin-top: calc(4 * var(--spacing-unit));
    margin-bottom: calc(4 * var(--spacing-unit));
}

.paragraph {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}

.title {
    font-weight: 400;
}

.meta {
    margin-bottom: 0;
}