.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    grid-column: 2 / span 6;
}

.isPortrait * {
    height: 100%;
}

.isPortrait {
    height: 75vh;
}

.isLandscape {
    width: 60vw;
}

.isLandscape * {
    height: auto;
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px), (max-width: 767px) {
    .root > * {
        grid-column: 1 / span 4;
    }

    .root {
        padding: 16px;
    }

    .isLandscape {
        width: 100%;
    }
}
